
body
{
	margin:0;
	padding:0;
}

#wrapper
{
	width:100%;
	height:100%;
}

#drawWrap
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	cursor:url(../images/drawCursor.png),auto;
}
#map-canvas
{
	width:100%;
	height:100%;
}

#toggleBar
{
	position:fixed;
	width:700px;
	height:100px;
	background-color:rgba(179,255,108,0.40);
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	z-index:3;
}

.but
{
	width:70px;
	height:70px;
	margin:15px 35px;
	float:left;
	cursor:pointer;
}

#zoomOut
{
	background-image:url(../images/zoomOut1.png);
}


#zoomIn
{
	background-image:url(../images/zoomIn1.png);
}


#find
{
	text-align: center;
	font-size: 25px;
	font-family: acme;
	font-style: normal;
	font-weight: 400;
	color:#535D78;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.drawStart
{
	background-image:url(../images/draw.png);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.drawEnd
{
	background-image:url(../images/draw2.png);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#undo
{
	background-image:url(../images/undo.png);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dot 
{
	width:2px;
	height:2px;
	position:fixed;
	background-color:#000000;
}

@media screen and (max-width:499px) {
	

}